body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 75px;
    background-color: lightgrey;
    border-bottom: 1px solid darkgray;
    color: white;
    font-family: sanserif;
    font-size: 15px;

}

header h1 {
    color: white;
}

aside {
    float: left;
    width: 15%;
    height: 150px;
    border: 1px solid darkgray;
    border-radius: 25px;
    margin: 10px;
}

#main {
    float: right;
    width: 45%;
    height: 150px;
    border: 1px solid darkgray;
    border-radius: 25px;
    margin: 10px;
}

footer {
    width: 100%;
    height: 25px;
    background-color: gray;
    color: white;
}