body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: lightgrey;
    color: black;
    font-family: sanserif;
    font-size: 15px;

}

header h1 {
    color: white;
    font-size: 35px;
}

header h3 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}

aside {
    float: left;
    width: 100px;
    height: 150px;
    border: 1px solid darkgray;
    border-radius: 15px;
    margin: 10px;
    padding: 2px;
    font-family: sans-serif;
}

aside ul {
    list-style-position: inside;
    padding: 1em;
    overflow: auto;
}

article {
    float: left;
    width: 600px;
    height: 150px;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
    font-family: sans-serif;
    
}

footer {
    width: 100%;
    height: 25px;
    padding: 0.25em;
    background-color: gray;
    text-align: center;
    color: white;
    clear: both;
    font-family: sans-serif;
}

.bluebar {
    width: 40%;
    height: 8px;
    background-color: darkorchid;
    float: left;
}

.redbar {
    width: 35%;
    height: 8px;
    background-color: darkorchid;
    float: left;
}

.greenbar {
    width: 10%;
    height: 8px;
    background-color: forestgreen;
    float: left;
}

.yellowbar {
    width: 15%;
    height: 8px;
    background-color: mediumslateblue;
    float: left;
}

#profile {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1px;
}

a {
    text-decoration: none;
}