body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 75px;
    background-color: lightgrey;
    border: 1px solid black;
    color: white;
    font-family: sanserif;
    font-size: 15px;

}

header h1 {
    color: white;
}

aside {
    float: left;
    width: 25%;
    height: 150px;
    border: 1px solid darkgray;
    border-radius: 25px;
}